:root {
  --bdr1: #1B1A55 solid 1px;
  --bdr2: #535C91 solid 2px;
  --baseColor: #606468;
  --iconFill: var(--baseColor); 
  --htmlFontSize: 100%;
  --bodyBackgroundColor: #070F2B;
  --bodyColor: #EAEAEA; /* Text Color */
  --bodyFontFamily: "Courier New", Courier, monospace;
  --bodyFontFamilyFallback: sans-serif;
  --bodyFontSize: 0.875rem;
  --bodyFontWeight: 400;
  --bodyLineHeight: 1.5;
  --anchorColor: #eee;
  --formGap: 0.875rem;
}

* {
  box-sizing: border-box;
  font-family: var(--bodyFontFamily), var(--bodyFontFamilyFallback);
}

body {
  height: auto;
  width: auto;
  margin: 0;
  overflow-x: hidden;
  padding: 1rem;
  background: var(--bodyBackgroundColor);
  color: var(--bodyColor);
  font-size: var(--bodyFontSize);
  font-weight: var(--bodyFontWeight);
  line-height: var(--bodyLineHeight);
  min-block-size: 100vh;
}

.sb {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #1B1A55; /* SideBar Background */
  border: var(--bdr2);
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sb a {
  display: block;
  color: var(--bodyColor); /* Link Color */
  padding: 16px;
  text-decoration: none;
}

.sb a.sb-active {
  background-color: #535C91; /* Active Link Background */
  color: #FFFFFF; /* Active Link Color */
}

.sb a:hover:not(.sb-active) {
  background-color: rgba(255, 255, 255, 0.1); /* Hovered Links Background */
  color: #FFFFFF; /* Hovered Links Color */
}

div.sb-container {
  margin-left: 200px;
  padding: 1px 16px;
  height: auto;
}

@media screen and (max-width: 600px) {
  .sb {
      width: 100%;
      height: auto;
      position: relative;
  }
  .sb a {
      float: left;
  }
  div.sb-container {
      margin-left: 0;
  }
}

@media screen and (max-width: 600px) {
  .sb a {
      text-align: center;
      float: none;
  }
}

/* blog-header/Blog Title */
.blog-header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  border: var(--bdr2);
  background: #535C91; /* Header Background */
  color: #FFFFFF; /* Header Text Color */
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.blog-left {
  float: left;
  width: 75%;
}

/* Right column */
.blog-right {
  float: left;
  width: 25%;
  padding-left: 1rem;
}

/* Fake image */
.blog-fake-img {
  border: var(--bdr1);
  background-color: #4552a0; /* fake image */
  width: 100%;
  padding: 1rem;
}

/* Add a card effect for articles */
.blog-card {
  border: var(--bdr2);
  background-color: #1B1A55; /* Card Background */
  padding: 1rem;
  margin-top: 1rem;
  color: var(--bodyColor); /* Card Text Color */
}

/* Clear floats after the columns */
.blog-container:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .blog-left,
  .blog-right {
      width: 100%;
      padding: 0;
  }
}

.fa {
  padding: 1rem;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  color: var(--bodyColor); /* Icons Color */
}

.fa:hover {
  background-color: #535C91; /* Hovered Icons Background */
  color: #FFFFFF; /* Hovered Icons Color */
}

/* Footer */
.footer {
		padding: 1rem;
    text-align: center;
    border: var(--bdr2);
    background: #1B1A55;
    margin-top: 1rem;
}

/* align.css */
.align {
  display: grid;
  place-items: center;
}

.grid {
  inline-size: 90%;
  margin-inline: auto;
  max-inline-size: 20rem;
}

/* hidden.css */
.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* icon.css */
.icons {
  display: none;
}

.icon {
  block-size: 1em;
  display: inline-block;
  fill: var(--anchorColor);
  inline-size: 1em;
  vertical-align: middle;
}

/* anchor.css */
a {
  color: var(--anchorColor);
  outline: 0;
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}

.notfound{
  padding: 12% 1rem;
  display: grid;
  place-items: center;
}
